.shimmer-card {
  height: 325px;
  background-color: #e7e7e7;
}
.bg-gray {
  background-color: #e7e7e7;
  border-radius: 10px;
}
.inimg {
  width: 450px;
  height: 240px;
}
.incountry_name {
  width: 200px;
  height: 40px;
}
.indetails {
  width: 200px;
  height: 20px;
}
._margin {
  margin: 10px 0;
}